img {
    border-radius: 0.5em;
}

.zoom1_5x {
    clip-path: inset(16.6% 16.6% 16.6% 16.6% round 0.333em);
    scale: 1.5;
}

.zoom2x {
    clip-path: inset(25% 25% 25% 25% round 0.25em);
    scale: 2;
}

.zoom3x {
    clip-path: inset(33.3% 33.3% 33.3% 33.3% round 0.166em);
    scale: 3;
}

.ct-smoke {
    position: absolute;
    width: 2em;
    height: 2em;
    transform: translate(-50%, -50%);
    border-radius: 1em;
    background: #667799aa;
}

.t-smoke {
    position: absolute;
    width: 2em;
    height: 2em;
    transform: translate(-50%, -50%);
    border-radius: 1em;
    background: #888866aa;
}

.fire {
    position: absolute;
    width: 2em;
    height: 2em;
    transform: translate(-50%, -50%);
    border-radius: 1em;
    background-size: 1em 1em;
    background-image: linear-gradient(45deg, #c20a 25%, #c204 25%, #c204 50%, #c20a 50%, #c20a 75%, #c204 75%, #c204 100%);
}

.he {
    position: absolute;
    width: 2em;
    height: 2em;
    transform: translate(-50%, -50%);
    background-image: url("./explosion.svg");
    background-size: 100%;
    opacity: 0.5;
}

.radar-container {
    position: relative;
}

.grid {
    display: inline-flex;
    flex-direction: row;
    gap: 0.5em;
}
